# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock

# Visual Studio Code and IntelliJ
.idea
.vscode

# System temp
.DS_Store

# Configration
configuration.yaml

# App
/build
/lib/src/generated_odbc.dart
*.g.dart
/doc/
/example/models/hello.dart
